.buttonsContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.button_Back {
    width: 18vw;
    height: 6vh;
    margin-top: 3.5vh;
    margin-left: 4.5vw;
}

.button_Next {
    width: 18vw;
    height: 6vh;
    margin-top: 3.5vh;
    margin-right: 4.5vw;
}